[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Guus Hamm (GuusHamm)
	label-Code-Review = -2..+2 group s63-gamma
	label-Verified = -1..+1 group s63-gamma
	rebase = group s63-gamma
[access "refs/for/refs/*"]
	read = group user/Guus Hamm (GuusHamm)
	push = group user/Guus Hamm (GuusHamm)
	label-Code-Review = -2..+2 group user/Guus Hamm (GuusHamm)
	label-Verified = -1..+1 group user/Guus Hamm (GuusHamm)
	rebase = group user/Guus Hamm (GuusHamm)
	removeReviewer = group user/Guus Hamm (GuusHamm)
	submit = group user/Guus Hamm (GuusHamm)
[access "refs/heads/*"]
	read = group user/Guus Hamm (GuusHamm)
	create = group user/Guus Hamm (GuusHamm)
	push = +force group user/Guus Hamm (GuusHamm)
	pushMerge = group user/Guus Hamm (GuusHamm)
[access "refs/tags/*"]
	push = group user/Guus Hamm (GuusHamm)
	push = +force group user/Guus Hamm (GuusHamm)
